<div class="competency-fields">
  <%= f.label :name %>
  <%= f.select :name, options_for_select([  'Coss', 'Supervisor', '360 excavator driver', 'Ground worker', 'Telehandler driver', 'Engeneer', 'Steel Fixer', 'Carpenter', 'Electrician', 'Alo coordinator', 'banksman',
    'Concrete finisher', 'ETE jointer', 'ETE mate', 'Handback Engineer', 'Site Warden', 'LXA', 'Pasma', 'Slinger', 'Trackman', 'Site manager', 'Yardman / pick-up Driver',
    'Cable puller', 'Setting out Engineer', 'Carpenter', ], f.object.name), prompt: 'Please select' %>

  <%= f.label :expiration_date %>
  <%= f.date_field :expiration_date %>

  <%= f.label :photo %>
  <%= f.file_field :photo, as: :file %>

  <%#= f.input_field :photos, as: :file %>

  <%= link_to 'Remove', '#', class: 'remove-competency btn btn-danger' %>
</div>


  <%#= f.select :name, ['coss', 'supervisor', '360 operator', 'ground worker', 'telehandler driver', 'Engineer', 'steel fixer', 'carpenter', 'electrician'], { include_blank: true } %>
