<div class="login">

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: 'first name' %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: 'last name' %>
    </div>


    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email' %>
    </div>

  <div class="field">
    <div id="competencies">
      <%= f.fields_for :competencies do |cf| %>
        <%= render 'competency_fields', f: cf %>
      <% end %>
    </div>
    <button type="button" id="add-competency" class="btn btn-primary">add competency</button>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('add-competency').addEventListener('click', function(e) {
      e.preventDefault();
      var template = document.getElementById('new-competency-template').innerHTML;
      var container = document.getElementById('competencies');
      var newId = new Date().getTime();
      template = template.replace(/new_competencies/g, newId);
      container.insertAdjacentHTML('beforeend', template);
      attachRemoveEvent();
    });

    function attachRemoveEvent() {
      var removeButtons = document.querySelectorAll('.remove-competency');
      removeButtons.forEach(function(button) {
        button.removeEventListener('click', removeCompetency);
        button.addEventListener('click', removeCompetency);
      });
  }

    function removeCompetency(e) {
      e.preventDefault();
      this.closest('.competency-fields').remove();
    }

    attachRemoveEvent();
  });
</script>

  <div class="field">
    <%#= f.label :address %>
    <%= f.text_field :address, placeholder: 'address' %>
  </div>

  <div class="field">
    <%#= f.label :sponsor %>
    <%= f.select :sponsor, ['primary', 'secondary'], { include_blank: 'select sponsor' } %>
  </div>

  <div class="field">
    <%= f.label :driver, 'driver? (check if yes)' %>
    <%= f.check_box :driver %>
  </div>

  <div class="field">
    <%= f.text_field :pts_number, maxlength: 7, placeholder: 'PTS no.' %>
  </div>

  <div class="field">
    <%= f.label :photos, '* photos of competencies' %><br />
    <%= f.file_field :photos, multiple: true %>
  </div>

    <div class="field">
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %> characters minimum)
      <% end %>
      <br>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'new password' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'password confirmation' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'gradient-button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>

<div id="new-competency-template" style="display: none;">
  <div class="competency-fields">
    <label for="user_competencies_attributes_new_competencies_name">Competency</label>
    <select name="user[competencies_attributes][new_competencies][name]" id="user_competencies_attributes_new_competencies_name">
      <option value="">Please select</option>
      <option value="coss">coss</option>
      <option value="supervisor">supervisor</option>
      <option value="360 operator">360 operator</option>
      <option value="ground worker">ground worker</option>
      <option value="telehandler driver">telehandler driver</option>
      <option value="Engineer">Engineer</option>
      <option value="steel fixer">steel fixer</option>
      <option value="carpenter">carpenter</option>
      <option value="electrician">electrician</option>
    </select>
    <label for="user_competencies_attributes_new_competencies_expiration_date">Expiration Date</label>
    <input type="date" name="user[competencies_attributes][new_competencies][expiration_date]" id="user_competencies_attributes_new_competencies_expiration_date">
    <button type="button" class="remove-competency btn btn-danger">Remove</button>
  </div>
</div>
