<!-- app/views/jobs/_form.html.erb -->

<div class="jobs-form">
  <h1>Add a new job!</h1>
  <%= form_with(model: job, local: true) do |form| %>
    <% if job.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(job.errors.count, "error") %> prohibited this job advert from being saved:</h2>

        <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="actions ">
      <%= form.submit 'Save', class: "gradient-button" %>
    </div>
  <% end %>

</div>
