  <% @jobs.each do |job| %>
    <%= render job %>
    <p>
      <%= link_to "Show this project port", project_port %>
    </p>
  <% end %>

  <section class="portofolio-section">
  <div class="port-text"></div>
  <div class="box-container">
    <div class="box">
      <span style="--i:1;"><%= image_tag("llt.jpg", alt: "image")%></span>
      <span style="--i:2;"><%= image_tag("trainline.jpg", alt: "image")%></span>
      <span style="--i:3;"><%= image_tag("llt.jpg", alt: "image")%></span>
      <span style="--i:4;"><%= image_tag("trainline.jpg", alt: "image")%></span>
      <span style="--i:5;"><%= image_tag("llt.jpg", alt: "image")%></span>
    </div>
  </div>
</section>

<%# <div data-controller ="map"
  id= "map"
  data-map-api-key-values="<%=  ENV['MAPBOX_API_KEY'] %>"
  <%# style= 'height: 300px, width: 100%'></div> %> %>
