<h3>People that need to be verified and approved:</h3>

<% unapproved_users.each do |user| %>
  <%= link_to user_path(user) do %>
    <%= user.email %>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Approved</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% unapproved_users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.approved? ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Show', user_path(user) %>
          <%= link_to 'Toggle Approval', approve_user_path(user), method: :patch, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%#= link_to 'Approve', approve_user_path(user) %>
