<section class="user">
  <div class="user-container">
    <div class="user-info">
      <h1>Hi, <%= current_user.first_name %> <%= current_user.last_name %></h1>
      <p>EMAIL: <%= @user.email %></p>
      <p>PHONE: <%= @user.phone %></p>
      <p>ADDRESS: <%= @user.address %></p>
      <p>SPONSOR TYPE: <%= @user.sponsor %></p>
      <p>PTS NUMBER: <%= @user.pts_number %></p>
      <p>DRIVER? <%= @user.driver %></p>
      <p>COMPETENCIES:</p>
      <h2>Competencies</h2>

      <% @user.competencies.each do |competency| %>
        <p>
          <strong>Name:</strong>
          <%= competency.name %>
        </p>
        <p>
          <strong>Expiration Date:</strong>
          <%= competency.expiration_date %>
        </p>
        <p>
          <%= cl_image_tag competency.photo.key, height: 300, width: 400, crop: :fill %>
        </p>
        <%= link_to 'Edit', edit_user_competency_path(@user, competency) %> |
        <%= button_to 'Delete This Competency', user_competency_path(@user, competency),
              method: :delete,
              data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' },
              class: 'gradient-button' %>

        <%#= link_to 'Destroy', user_competency_path(@user, competency), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: 'gradient-button' %>

        <%#= link_to 'Destroy', user_competency_path(@user, competency), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'gradient-button' %>
      <% end %>

      <%= link_to 'New Competency', new_user_competency_path(@user) %> |
      <%#= link_to 'Back', users_path %>

    </div>
    <div class="user-links">
      <%= link_to "Edit", edit_user_registration_path, class: "edit" %>
      <%= link_to "Delete", user_registration_path, method: :delete, data: { confirm: "Are you sure?" }, class: "delete" %>
    </div>
  </div>
</section>
