
<%= form_with(model: [@user, @competency], local: true, multipart: true) do |form| %>
  <% if @competency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competency.errors.count, "error") %> prohibited this competency from being saved:</h2>
      <ul>
        <% @competency.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.select :name, options_for_select(['coss', 'supervisor', '360 operator', 'ground worker', 'telehandler driver', 'Engineer', 'steel fixer', 'carpenter', 'electrician'], @competency.name), prompt: 'Please select' %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.date_field :expiration_date %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
