
<section class="a-hero">
    <div class="full-width-image"></div>
  <div class="gradient-overlay"></div>

    <div class="about-us-overlay">
      <h1>ABOUT US</h1>
    </div>
</section>


<section class="a-specializations">
  <h2 class="center-title">OUR SPECIALIZATIONS</h2>

  <div class="industry-grid">
    <div class="industry hidden">
      <%= image_tag("railway.png", alt: "Railway Civils Icon") %>
      <p>Railway Civils</p>
    </div>
    <div class="industry hidden">
      <%= image_tag("electrical.png", alt: "Electrical Icon") %>
      <p>Electrical</p>
    </div>

    <div class="industry hidden">
      <%= image_tag("logistics.png", alt: "Highway Icon") %>
      <p>Highway</p>
    </div>
    <div class="industry hidden">
      <%= image_tag("maintenance.png", alt: "Maintenance Icon") %>
      <p>Maintenance</p>
    </div>
    <div class="industry hidden">
      <%= image_tag("logistics.png", alt: "Logistics Icon") %>
      <p>Logistics</p>
    </div>
    <div class="industry hidden">

      <%= image_tag("construction.png", alt: "Construction Icon") %>
      <p>Construction</p>
    </div>
  </div>

</section>

<section class="history">

  <div class="text-content" style="border-bottom: 1px solid var(--grey);border-top: 1px solid var(--grey);">
    <%# <h2>Team & History</h2> %>
    <div class="th">
      <%# <div class="t">HISTORY</div>
      <div class="and">&</div>
      <div class="his">TEAM</div> %>
      ABOUT <div class="special">DNNOVATION</div>
    </div>
    <p>
      <span class="short-text">
        After six years of successful collaboration on various projects across the UK, Dorin, Nicolae, and Nabil identified a critical gap in the resourcing and construction industry. They noticed a disconnect between operatives and agencies, resulting in inefficiencies and below-standard project outcomes.<br> <br>
      </span>
      <span class="full-text">
      Motivated by their shared vision and strong work ethic, they founded DNNovation, leveraging their combined 36 years of industry expertise to address these challenges and drive innovation in the sector.
      </span>
    </p>
  </div>
  </section>

<section class="team">
    <p style="font-size: 1.5rem; font-family: 'Switzer-Bold';">MEET THE <span class="special">TEAM</span></p>

    <div class="team-grid">

      <div class="team-card hidden">
        <%= image_tag("bida.png", alt: "Construction Icon") %>
        <h3>Nicolae Soare</h3>
        <p>Operations Director</p>
      </div>

      <div class="team-card hidden">
        <%= image_tag("dorin.jpeg", alt: "Construction Icon") %>
        <h3>Dorin Tudureanu</h3>
        <p>Resource Director</p>
      </div>

      <div class="team-card hidden">
        <%= image_tag("nabil.png", alt: "Construction Icon") %>
        <h3>Nabil Weidi</h3>
        <p>Finance Director</p>
      </div>

    </div>
</section>

<section class="mission">
    <div class="text-content">
    <div class="tall-img">
      <%# <img src="https://plus.unsplash.com/premium_photo-1677522805495-20700faf5802?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29uc3RydWN0aW9ufGVufDB8fDB8fHww" alt="construction image"> %>
      <%= image_tag("emr1.jpeg", alt: "Construction team") %>

    </div>

    <p><span class="full-text">
    <span class="special">MISSION?</span> <br><br>
      <strong> DNNovation </strong> is committed to transforming the industry by emphasizing quality and building genuine relationships with operatives.<br> <br>

      Through the development of a unique program focused on creating cohesive, highly-skilled teams, DNNovation invests in detailed briefings, top-tier equipment, and strong personal connections. This approach fosters a culture of trust and excellence across every project.<br> <br>

        The results are clear: small, dedicated teams consistently deliver superior performance compared to larger, less cohesive groups. <br> <br> Exceptional client feedback validates this model, establishing <strong> DNNovation </strong>as a leading resourcing partner known for seamless, safe, and high-quality project execution.<br> <br> <br> <br>
      </span>
    </p>
  </div>
</section>

<section class="aboutus-text">
      <div class="text">
        <h3>About our values</h3>
        <p class="full-text">
    We set new benchmarks, consistently challenging the status quo and exceeding expectations. What truly sets us apart is our unwavering commitment to finding the perfect fit. We invest the time to deeply understand the unique needs of our clients, utilizing our extensive industry expertise and cutting-edge technology to identify candidates who not only meet the job requirements but also align seamlessly with your company’s culture and values.
  <br><br>
  Every candidate we recommend undergoes a thorough vetting process, ensuring adherence to the highest standards of quality and compliance.
  <br><br>
  At DNNovation, <strong class="imp-text">quality is non-negotiable</strong>, and we never compromise on safety, prioritizing the well-being of both our candidates and clients.
  <br><br>
  We don’t just fill roles—we build <strong class="imp-text">lasting partnerships</strong> based on trust, transparency, and mutual respect.
  <br><br>
  Join us as we redefine the future of recruitment together.
        </p>
      </div>
      <div class="a-btn">
        <a href="#" class="read-more-link gradient-button">Read</a>
      </div>
</section>

<section class="description">

  <div class="description-text-2">
  <strong class="imp-text">We set new standards</strong>, challenging the status quo and exceeding expectations at every turn.
        What sets us apart is our relentless dedication to finding the perfect match. We invest time to truly understand the unique requirements of our clients, leveraging our extensive industry knowledge and cutting-edge technology to identify candidates who not only meet the job specifications but also align with your company culture and values.<br> <br>
        Rest assured, every candidate we recommend undergoes rigorous vetting processes to ensure compliance with the highest standards.
        <br> <br> <strong class="imp-text">Quality is non-negotiable</strong>, and we <strong class="imp-text">never compromise</strong> on safety, prioritizing the well-being of our candidates and clients above all else.<br> <br>
        At DNNovation, we're not just in the business of filling roles; we're in the business of building long-term partnerships based on trust, honesty, and mutual respect. <br><br>Join us on our journey, and let's redefine the future of recruitment together.<br> <br>
  </div>

  <div class="description-image">
    <%# <img src="https://images.unsplash.com/photo-1629807473015-41699c4471b5?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> %>
    <%= image_tag("gutaSiNae.jpeg", alt: "Construction Icon") %>
  </div>
</section>



<%# <div class="space">
  <h1>space</h1>
</div> %>



<%# <div class="section section-4">
  <h2>Contact Us</h2>

  <p>For more information, please contact us at info@DNNovationconstruction.co.uk</p>
</div> %>
