<!-- app/views/pages/about.html.erb -->
<div class="header">
  <div class="logo">
    <%= image_tag("logo.png", alt: "Company Logo") %>
  </div>
</div>

<div class="section section-1">
  <!-- Full-width image section -->
  <div class="full-width-image">
    <%= image_tag("llt.png", alt: "Full Width Image", style: "width: 100%; height: 30vh; object-fit: cover;") %>
  </div>

  <h1>DNNovation</h1>
  <p>At Dnnovation, we are a distinguished railway and civil company committed to delivering excellence in manpower provision for project execution. With a focus on precision and professionalism, we contribute significantly to the enhancement and development of railway infrastructure and civil engineering projects.</p>
</div>

<div class="section section-2">
  <h2>Our History</h2>
  <p>Founded in 1920, our company has grown from a small local provider to a national leader...</p>
</div>

<div class="section section-3">
  <h2>Our Specializations</h2>
  <div class="industry-grid">
    <div class="industry">
      <%= image_tag("railway.png", alt: "Railway Civils Icon") %>
      <p>Railway Civils</p>
    </div>
    <div class="industry">
      <%= image_tag("electrical.png", alt: "Electrical Icon") %>
      <p>Electrical</p>
    </div>
    <div class="industry">
      <%= image_tag("logistics.png", alt: "Highway Icon") %>
      <p>Highway</p>
    </div>
    <div class="industry">
      <%= image_tag("maintenance.png", alt: "Maintenance Icon") %>
      <p>Maintenance</p>
    </div>
    <div class="industry">
      <%= image_tag("logistics.png", alt: "Logistics Icon") %>
      <p>Logistics</p>
    </div>
    <div class="industry">
      <%= image_tag("construction.png", alt: "Construction Icon") %>
      <p>Construction</p>
    </div>
  </div>
</div>

<div class="section section-4">
  <h2>Contact Us</h2>
  <p>For more information, please contact us at info@railwaycompany.com...</p>
</div>
