<div class="contact-container">
  <div class="contact-left">
    <h2>Contact Us</h2>
    <p>feel free to contact us and we will get back to you as soon as we can.</p>
    <%= form_with(model: @contact, local: true) do |form| %>
    <div class="pair">
      <%= form.text_field :name, placeholder: "name"  %>
    </div>
    <div class="pair">
      <%= form.email_field :email, placeholder: "address" %>
    </div>
    <div class="pair">
      <%= form.text_area :message, placeholder: "tell us about it", class: "custom-input" %>
    </div>
    <div class="pair">
      <%= form.submit 'Send' %>
    </div>
    <% end %>
  </div>
  <div class="contact-right">
  <div class="oh">
    <h3>Opening Hours</h3>
    <p>Monday – Friday</p>
    <p style="margin-top: 0px;">9:00 am – 5:00 pm</p>
  </div>
  <div class="oh">
    <h3>Address</h3>
    <p>Barnacres Rd, Hemel Hempstead, Hemel Hempstead HP3 8JS, GB</p>
  </div>
  <div class="oh">
    <h3>Support</h3>
    <p>info@DNNovationconstruction.co.uk</p>
    <p style="margin-top: 0px;">(123) 456-7890</p>
    </div>
  </div>
</div>
