<div id="<%= dom_id project_port %>">

  <section class="show-project-hero-section" style="background-image: url('<%= @project_port.photos ? cl_image_path(@project_port.photos.first.key) : 'careers.jpeg' %>'); display: list-item; width: 100vw; height: 80vh; background-size: cover; background-position: center;">
  </section>

  <section class="project-detail">
    <h4>PROJECT DETAIL</h4>
  </section>

  <section class="project-name-details">

    <div class="project-name">
      <%= project_port.name.upcase %>
    </div>

    <div class="details">

      <div class="group">
        CLIENT
        <div class="detail"><%= project_port.client.upcase %></div>
      </div>

      <div class="group">
        SECTOR
        <div class="detail"><%= project_port.sector.upcase %></div>
      </div>

      <div class="group">
        MARKET
        <div class="detail"><%= project_port.market.upcase %></div>
      </div>


      <div class="group">
        LOCATION
        <div class="detail"><%= project_port.location.upcase %></div>
      </div>

      <div class="group">
        <div class="longer-names">DELIVERY METHOD</div>
        <div class="detail"><%= project_port.delivery_method.upcase %></div>
      </div>

      <div class="group">
        <div class="longer-names">COMPLETION DAY</div>
        <div class="detail"><%= project_port.completion_date.strftime("%B %d, %Y").upcase %></div>
      </div>

    </div>
  </section>

  <section class="project-desc">
    <div class="project-description">
      <%= format_description(project_port.description) %>
    </div>

    <%# <div class="photos"> %>
      <%#= cl_image_tag @smallest_photo.key, id: 'project-photo' %>
    <%# </div> %>

      <div class="cards1 cards-project-show" style="grid-template-columns: repeat(2, 1fr); width: 100%;">
    <% project_port.photos.each do |photo| %>
      <div class="card-category1 full-image"
        style="background-image: url('<%= url_for(photo) %>'); background-position: top;">
      </div>
    <% end %>
  </div>


  </section>


  <% if !current_user.nil? && current_user.admin == true %>
    <section class="admin-actions">
      <h3>ADMIN ACTIONS</h3>
      <div class="admin-actions-buttons">
        <%= link_to 'EDIT THIS PROJECT', edit_project_port_path(project_port), class: 'gradient-button' %>
        <%= button_to "DELETE THIS PROJECT", project_port, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'gradient-button' %>



      </div>
    </section>
    <div class="select-photo">
        <h3>Add Photo</h3>
          <%= form_with url: add_photo_project_port_path(@project_port), local: true, method: :post, multipart: true do |f| %>
            <%= f.file_field :photo %>
            <%= f.submit "Upload" %>
          <% end %>


        <h3>Uploaded Photos</h3>
          <% @project_port.photos.each do |photo| %>
           <div class="card-category1 full-image"
            style="background-image: url('<%= url_for(photo) %>'); background-position: top;">
          </div>
            <%= button_to 'Delete', remove_photo_project_port_path(@project_port, photo.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
    </div>
  <% end %>

</div>
