<div id="<%= dom_id project_port %>">
  <p>
    <strong>Name:</strong>
    <%= project_port.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project_port.description %>
  </p>

  <p>
    <strong>Collaborations:</strong>
    <%= project_port.collaborations %>
  </p>

  <% project_port.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

</div>
