<p style="color: green"><%= notice %></p>

<%= render @project_port %>


<%# <div>
  <%= link_to "Edit this project port", edit_project_port_path(@project_port) %>
  <%# <%= link_to "Back to project ports", project_ports_path %>

  <%# <%= button_to "Destroy this project port", @project_port, method: :delete %>
<%# </div> %>
