<div class="index-courses">
  <div class="head">
    <div class="image-wrapper">
      <img src="https://plus.unsplash.com/premium_photo-1661776608612-523ebf5a19d2?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="train photo">
      <div class="overlay">
        <h1 class="title-training">TRAINING</h1>
      </div>
    </div>

  </div>

    <h1 class="page-title">Find your courses</h1>

  <%= form_with url: filter_by_category_courses_path, method: :get, local: true, id: 'filter-form' do |form| %>
  <div class = "fix">

    <div class="category-selection" style="width: 100vw;">
      <label for="category-select" class="category-label" style="width: 100%;"></label>
      <%= select_tag 'category', options_for_select(@categories, params[:category]), { include_blank: 'Select a category', id: 'category-select', class: 'category-select' } %>
    </div>


    <div class="category-selection">
      <label for="course_name_select" class="course-name-select"></label>
      <%= form.select :name, [], { prompt: 'Select a course' }, id: 'course_name_select', value: params[:name] %>
    </div>

    <div>
      <%= form.submit 'Filter Courses', class: "gradient-button" %>
    </div>
  <% end %>
  </div>

<div id="courses-container">
  <%= render partial: 'courses_list', locals: { courses: @courses } %>
</div>

<script type="text/javascript">
  const courseOptions = <%= raw Course.course_options_as_json %>;
</script>

<script>

  document.addEventListener('DOMContentLoaded', function() {
  const categorySelect = document.getElementById('category-select');
  const courseSelect = document.getElementById('course_name_select');
  const courseOptions = <%= raw Course.course_options_as_json %>;

  function updateCourseOptions() {
    const selectedCategory = categorySelect.value;

    // console.log('Selected category:', selectedCategory);

    courseSelect.innerHTML = '<option value="">Select a course</option>';

    if (selectedCategory) {
      const courses = courseOptions[selectedCategory] || [];
      // console.log('Courses for category:', selectedCategory, courses);

      courses.forEach(course => {
        const option = document.createElement('option');
        option.value = course.name;
        option.textContent = course.name;
        if (course.name === "<%= params[:name] %>") {
          option.selected = true;
          // console.log('Selected:', course.name);
        }
        courseSelect.appendChild(option);
      });
    } else {
      Object.values(courseOptions).flat().forEach(course => {
        const option = document.createElement('option');
        option.value = course.name;
        option.textContent = course.name;
        if (course.name === "<%= params[:name] %>") {
          option.selected = true;
        }
        courseSelect.appendChild(option);
      });
    }
  }

  categorySelect.addEventListener('change', updateCourseOptions);

  // Initialize options on page load
  updateCourseOptions();
  });

</script>

<div class="divider">
  <span class="divider-text">Upcoming courses!</span>
</div>

<% if @kids.length > 0 %>

  <div class="live-courses-container">
    <button class="nav-button left">&lt;</button>
      <div class="live-courses">
        <!-- Example course items -->

          <% @kids.each do |course| %>
            <div class="course-card" style="overflow: visible;">
              <%# style="min-width: 250px;" %>
              <h3 class="course-title"><%= course.name %> <%= course.certification.nil? %></h3>
              <p class="date-range">
                <% if course.start_date && course.end_date %>
                  <%= course.start_date.strftime("%B %d, %Y") %> - <%= course.end_date.strftime("%B %d, %Y") %>
                <% else %>
                  Date information not available
                <% end %>
              </p>
              <div class="course-details">
                <p class="location-and-members">
                  <span class="location"><i class="fas fa-map-location-dot"></i> <%= course.location || 'Suite 605, WD6 2BW'%></span>
                  <span class="members"><i class="fa-solid fa-user-group" style="color: #EA5D30;"></i> <%= course.member_number || '12' %></span>
                </p>
                <p class="price"><%= number_to_currency(course.price, unit: '£') %></p>
              </div>
              <p class="course-description">
                  <%#= truncate(format_description(course.description), length: 100, omission: '...') %>
            <% if course.description %>
              <% formatted_description = format_description(course.description) %>
              <% truncated_description = truncate_html(formatted_description, length: 0, omission: '...') %>
              <%= truncated_description %>
            <% end %>

                <%#= format_description(@course.description) %>
              </p>
              <div class="course-actions">
                <%= link_to 'MORE', show_by_name_courses_path(course.name), class: 'gradient-button' %>
                <button class="gradient-button book-now-button" data-course="<%= course.name %>" data-modal-id="<%= course.id %>">BOOK</button>
              </div>
            </div>

            <div id="bookingModal<%= course.id %>" class="modal" style="display: none;">
              <div class="modal-content">
                <h3>Book Your Spot</h3>
                <p>You are booking the course "<span class="modal-course-name" id="modal-course-name"><%= course.name %></span>". Choose an option:</p>
                <div class="modal-actions">
                  <a href="tel:+0771520381" class="gradient-button">Call Us</a>
                  <a href="mailto:info@dnnovation.com?subject=Booking Inquiry for <%= course.name %>" class="gradient-button">Send an Email</a>
                </div>
                <button class="gradient-button close-modal" data-modal-id="<%= course.id %>">Cancel</button>
              </div>
            </div>
          <% end %>


        <!-- Add more course items as needed -->
      </div>
      <button class="nav-button right">&gt;</button>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
    const leftButton = document.querySelector('.nav-button.left');
    const rightButton = document.querySelector('.nav-button.right');
    const coursesContainer = document.querySelector('.live-courses');

    // Move the scroll position by the width of one course item
    const moveScroll = (direction) => {
      const courseItemWidth = document.querySelector('.course-card').offsetWidth;
      const scrollAmount = courseItemWidth + 20; // Add gap to scroll amount
      coursesContainer.scrollBy({
        left: direction * scrollAmount,
        behavior: 'smooth'
      });
    };

    leftButton.addEventListener('click', () => moveScroll(-1));
    rightButton.addEventListener('click', () => moveScroll(1));
    });

  </script>

<% end %>

<div class="divider">
  <span class="divider-text">Something you'd like to see ?</span>
</div>



<div class="interest-registration">
  <div class="interest-text">
    <h2>Don't see a course you're looking for?</h2>
    <p>Let us know, and we'll do our best to organize one as soon as possible!</p>
  </div>
  <form class="interest-form">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <textarea name="course-details" placeholder="What course are you interested in?" required></textarea>
    <button type="submit" class="gradient-button">Register Interest</button>
  </form>
</div>

</div>
