<h1 class="form-heading">New Course</h1>

<%= form_with(model: @course, local: true, html: { class: 'course-form' }) do |form| %>
  <% if @course.errors.any? %>
    <div id="error_explanation" class="error-explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :start_date, class: 'form-label' %>
    <%= form.date_select :start_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :end_date, class: 'form-label' %>
    <%= form.date_select :end_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price, class: 'form-label' %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %> <span>£</span>
  </div>

  <div class="form-group">
    <%= form.label :location, class: 'form-label' %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :member_number, class: 'form-label' %>
    <%= form.number_field :member_number, class: 'form-control', min: 1 %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control', rows: 5 %>
  </div>

  <%= form.label :category, "Select Categories" %>
  <div class="custom-checkbox-container">
    <%= check_box_tag 'course[category][]', 'CONSTRUCTION', @course.category&.include?('CONSTRUCTION'), id: 'course_category_construction', class: 'custom-checkbox' %>
    <label for="course_category_construction">
      <span class="checkmark-prod"></span>
      CONSTRUCTION
    </label>
  </div>

  <div class="custom-checkbox-container">
    <%= check_box_tag 'course[category][]', 'RAIL', @course.category&.include?('RAIL'), id: 'course_category_rail', class: 'custom-checkbox' %>
    <label for="course_category_rail">
      <span class="checkmark-prod"></span>
      RAIL
    </label>
  </div>

  <div class="custom-checkbox-container">
    <%= check_box_tag 'course[category][]', 'MANAGEMENT', @course.category&.include?('MANAGEMENT'), id: 'course_category_management', class: 'custom-checkbox' %>
    <label for="course_category_management">
      <span class="checkmark-prod"></span>
      MANAGEMENT
    </label>
  </div>

  <div class="form-actions">
    <%= form.submit 'Create Course', class: 'gradient-button' %>
    <button type="button" class="gradient-button" id="generate-advert-btn">Generate Advert</button>
  </div>
<% end %>

<%= link_to 'Back', courses_path, class: 'gradient-button' %>
