<style>
footer {
  background-color: pink;
}
</style>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h2>About us </h2>
      <p>My lil sister how much longer do i have to teach you ?</p>
      <%= link_to 'Learn More', about_path, class: 'footer-link' %>
    </div>
    <div class="footer-section">
      <h2>Services</h2>
      <ul class="footer-menu">
        <li><i class="fa fa-wrench footer-icon"></i><%= link_to 'Construction', '#' %></li>
        <li><i class="fa fa-bolt footer-icon"></i><%= link_to '        Electrical', '#' %></li>
        <li><i class="fa fa-train footer-icon"></i><%= link_to '                 Rail', '#' %></li>
      </ul>
    </div>
    <div class="footer-section">
      <h2>Contact Us</h2>
      <p>Email: info@DNNovationconstruction.co.uk</p>
      <p>Phone: (123) 456-7890</p>
      <%= link_to 'Contact Form', contact_path, class: 'footer-link' %>
    </div>
    <div class="footer-section">
      <h2>Follow Us</h2>
      <a href="#" class="footer-icon"><i class="fa fa-facebook"></i></a>
      <a href="#" class="footer-icon"><i class="fa fa-twitter"></i></a>
      <a href="#" class="footer-icon"><i class="fa fa-linkedin"></i></a>
    </div>
  <div class="footer-bottom">
    <p>&copy; <%= Time.now.year %> DNNovation. All rights reserved.</p>
  </div>
  </div>
</footer>
