<div class="footer">

  <div class="f-section" style="border-bottom: 1px solid var(--milky-white);">
    <div class="f-sec">
      <div class="f" style="font-family: Switzer-Bold; font-size: 150%;">
        <%= link_to root_path do %>
          DNNovation
        <% end %>
      </div>
    </div>

    <div class="f-sec">
      <%= link_to "Services", services_path %>
      <%= link_to "Careers", careers_path %>
      <%= link_to "Projects", projects_path, class: "wth" %>
      <%= link_to "About Us", about_path %>
    </div>

    <div class="f-sec" style="font-size: 150%;">
      <%= link_to 'https://www.linkedin.com/company/dnnovation-construction-ltd/posts/?feedView=all' do %>
      <i class="fa-brands fa-linkedin"></i>
      <% end %>
      <%= link_to '#' do %>
      <i class="fa-brands fa-facebook"></i>
        <% end %>
      <%= link_to 'mailto:example@example.com' do %>
          <i class="fa-solid fa-envelope wth"></i>
        <% end %>
       </div>

  </div>

  <div class="f-section two">

    <div class="f-sec">
      <p>&copy; <%= Time.now.year %> DNNovation. All rights reserved.</p>
    </div>

    <div class="f-sec">
      <a href="<%= privacy_policy_path %>">Privacy Policy | Data Protection</a>
    </div>

    <div class="f-sec wth">
      <a href="<%= terms_and_conditions_path %>">Terms&Conditions</a>

    </div>

  </div>

</div>

<style>
  .wth, .wth a {
    color: white;

    &:hover {
      color: var(--orange);
    }
  }
</style>
