<nav class="navbar">
  <!-- Left Section of Navbar -->
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag("logo.png", alt: "Company Logo", class: "logo") %>
      <div class="house"><i class="fa-solid fa-house" style="color: var(--orange);"></i></div>
    <% end %>
  </div>

  <!-- Right Section of Navbar -->
  <div class="navbar-right">

    <div class="dropdown">
      <%= link_to about_path, class: 'dropbtn' do %>
          About Us
      <% end %>
    </div>

<div class="dropdown">
      <%= link_to project_ports_path, class: 'dropbtn' do %>
        Projects
      <% end %>
    </div>

    <div class="dropdown">
      <%= link_to services_path, class: 'dropbtn' do %>
        Services
      <% end %>
    </div>

    <div class="dropdown">
      <%= link_to careers_path, class: 'dropbtn' do %>
        Careers
      <% end %>
    </div>

    <div class="extra">
      <% if user_signed_in? %>
        <div class="dropdown">
          <button class="dropbtn">Profile</button>
          <div class="dropdown-content" role="menu">
            <%= link_to 'Profile', user_path(current_user), class: 'dropdown-item', role: 'menuitem' %>
            <% if current_user.admin %>
              <%= link_to 'Admin', users_path, class: 'dropdown-item', role: 'menuitem' %>
            <% end %>
            <%= link_to 'Log out', '#', id: 'logout-link', class: 'dropdown-item logout', role: 'menuitem' %>
            <%= form_with url: destroy_user_session_path, method: :delete, id: 'logout-form', style: 'display: none;' do %>
            <% end %>
          </div>
        </div>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            function handleLogout(event) {
              event.preventDefault();
              document.getElementById('logout-form').submit();
            }
            var logoutLink = document.getElementById('logout-link');
            if (logoutLink) {
              logoutLink.addEventListener('click', handleLogout);
            }
          });
        </script>
      <% else %>
        <div class="dropdown">
          <%= link_to 'Log In', new_user_session_path, class: 'dropbtn' %>
        </div>
        <div class="dropdown">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'dropbtn' %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
