<!DOCTYPE html>
<html>
  <head>
    <title>DnnWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application",  media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= javascript_importmap_tags %>
    <%#= javascript_include_tag 'application','data-turbolinks-track': 'reload', type: 'module' %>

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.snow.css" rel="stylesheet"/>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.js"></script>



    <script src="https://kit.fontawesome.com/ae7884d89d.js" crossorigin="anonymous"></script>



    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  </head>

 <body>
    <script defer src="/scroll.js"></script>
  <header>
    <%= render 'layouts/navbar' %>
    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>
  </header>

  <main>
  <div id="blob"></div>


    <%= yield %>
  </main>

    <%# <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script> %>
      <% if @show_footer != false %>
        <footer>
            <%= render 'layouts/footer' %>
        </footer>
      <% end %>

  </body>

</html>
