<!DOCTYPE html>
<html>
  <head>
    <title>DnnWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application",  media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%#= javascript_include_tag 'application','data-turbolinks-track': 'reload', type: 'module' %>

  <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>



    <script src="https://kit.fontawesome.com/ae7884d89d.js" crossorigin="anonymous"></script>

    <script defer src="/scroll.js"></script>

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />

  </head>

 <body>
  <header>
    <%= render 'layouts/navbar' %>
    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>
  </header>

  <main>
  <div id="blob"></div>


    <%= yield %>
  </main>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>

  <% if @show_footer != false %>
    <%= render 'layouts/footer' %>
  <% end %>

  </body>

</html>
